body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
}

@media (min-width: 640px) {
    html {background-color: #eaf6ff;}

}  

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 640px) {
    h1 {
        font-size: 2.5rem;
    }
}

li {
    list-style: none;
}

aside {
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
    display: block;
}

#fixed-size-grid-items ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

#stretchable-grid-items ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    font-size: 0.8rem;
    margin: 1rem -10px;
}

#stretchable-grid-items li {
    width: 100%;
}

@media (min-width: 480px) {
    #stretchable-grid-items li {
        width: 50%;
    }
}

@media (min-width: 640px) {
    #stretchable-grid-items aside {
        width: 90%;
        margin: 10px 10px;
    }
}
