img {
    max-width:100%;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 40rem;
}

html {
    font-size: 12pt;
}

@media(min-width: 640px) {
    html {
        font-size: 16pt;
    }
}

@media(min-width: 640px) {
    .two-columns-example {
        display:flex;
    }
    .two-columns-example > * {
        width:50%;
    }
}